name: CI

on:
  push:
    branches:
      - master
  repository_dispatch:
  schedule:
    - cron: '20 8 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Build and push image which app build runs on
      run: ./infra/build/build.sh ${{ secrets.ID_RSA_CONTENTS_BASE64 }} ${{ secrets.DOCKER_CONFIG_CONTENTS_BASE64 }}
      env:
        GIT_REPO_URL: 'git@github.com:ScottG489/scottg489.github.io.git'
        RELATIVE_SUB_DIR: 'infra/build'

  build_application:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Build and deploy
      run: ./build.sh deploy ${{ secrets.ID_RSA_CONTENTS_BASE64 }} ${{ secrets.AWS_CREDENTIALS_CONTENTS_BASE64 }}
